@import "../styling/variables.css";

.sectionTitle {
  text-align: center;
}

.sectionTitle span {
  color: var(--brandSecondaryColor);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutContainer > div {
  width: 80%;
  padding: 24px 24px 24px 0px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  /* align-items: center; */
}

.imageContainer img {
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .aboutContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .aboutContainer > div {
    width: 40%;
    padding: 24px 24px 24px 0px;
    display: flex;
    justify-content: center;
    text-align: left;
    /* align-items: center; */
  }
  .sectionTitle {
    text-align: left;
  }
}
