.navBar {
  width: 100%;
  display: flex;
}

.logo {
  width: 30%;
}

.logoWrapper {
  position: relative;
  padding-top: 56.25%;
}

.logoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.logoContainer img {
  width: 100%;
  height: 100%;
}

.navLinks {
  width: 70%;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
}

.navLink {
  text-transform: uppercase;
}
