@import "../styling/variables.css";

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  width: 15%;
}

.logoWrapper {
  position: relative;
  padding-top: 56.25%;
}

.logoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 350px;
  max-height: 200px;
}

.logoContainer img {
  width: 100%;
  height: 100%;
}

.navLinks {
  width: 70%;
  /* margin-left: auto; */
}

.navList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
}

.navLink {
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: none;
  padding-bottom: 4px;
  /* text-decoration: none; */
}

.navLink a {
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  font-weight: bold;
  border-bottom: 1px solid;
}

.active {
  color: red;
}
