@import "../styling/variables.css";

.sectionTitle span {
  color: var(--brandSecondaryColor);
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesIndividual {
  width: 90%;
  margin: 0 auto;
}

.servicesImage {
  padding-top: 100%;
  position: relative;
  height: 0;
}

.servicesImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.servicesImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.servicesInfo {
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .servicesContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .servicesIndividual {
    width: 20%;
  }
}
